#This file is part of wordpress-epub.
#
#wordpress-epub is free software: you can redistribute it and/or modify
#it under the terms of the GNU Lesser General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#wordpress-epub is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU Lesser General Public License for more details.
#
#You should have received a copy of the GNU Lesser General Public License
#along with wordpress-epub.  If not, see <http://www.gnu.org/licenses/>.
[DEFAULT]
chapter-url = http://www.translationnations.com/swallowed-star/volume-%(volume)s-chapter-{chapter} 
chapter-file = ss-v%(volume)s-c{chapter}.xhtml
chapter-directory = files/swallowed-star/
title_re: '(,| -| \&ndash\;| –) ?||: '
start = 1
end = 20

[toc]
epub=epubs/Swallowed-Star.epub
order=v1,v2,v3,v4
#~ order = after
title: Swallowed Star (吞噬星空)
author: I Eat Tomatoes (我吃西红柿)
language = en
id=translationnations-ss
cover=
#css=
#intro=
synopsis = <br />&nbsp;<br />
 <p>Year 2056, in a city in the Yuan Jiang Su Jin area. On top of a ruined,
 shattered six story residential apartment sits a teenager wearing a combat
 vest, militaristic trousers, and alloyed battle boots. On his back is a
 hexagonal shield and equipped is a blood-shadow battle knife. He sits there
 silently on the edge of the roof. At this time, the sparkling sky was
 shining and there was a refreshing breath within the air that blew towards
 him. However, there was only silence within the ruined, deserted city, with
 an occasional howl that makes your heart skip a beat.</p>

[v1]
volume=1
title=Volume 1 - Awakening in the Night

[v2]
volume=2
title=Volume 2 - Fighter

[v3]
volume=3
title=Volume 3 - Nine Stage Thunder Blade

[v4]
volume=4
title=Volume 4 - Astronomical Bounty
end=40

[v5]
volume=5
title=Volume 5 - Wargod Luo Feng
end=65

[TITLES]
