#This file is part of wordpress-epub.
#
#wordpress-epub is free software: you can redistribute it and/or modify
#it under the terms of the GNU Lesser General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.
#
#wordpress-epub is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU Lesser General Public License for more details.
#
#You should have received a copy of the GNU Lesser General Public License
#along with wordpress-epub.  If not, see <http://www.gnu.org/licenses/>.
[DEFAULT]
chapter-url = http://www.wuxiaworld.com/tdg-index/tdg-chapter-{chapter}
chapter-file = tdg-c{chapter}.xhtml
title=
chapter-directory = files/tales-of-demons-and-gods/
title_re: '(,| -| \&ndash\;| –) ?||: '

[toc]
epub=epubs/Tales-of-Demons-and-Gods.epub
order=g1
#~ order=test
title: Tales of Demons & Gods (妖神记)
author:  Mad Snail (发飙的蜗牛)
language = en
id=wuxiaworld-tdg
cover=
synopsis = <br />&nbsp;<br />
 <p>Nie Li, the strongest Demon Spiritualist in his past life, stood at the
 pinnacle of the martial world. However, he lost his life during the battle
 with Sage Emperor and the six deity ranked beasts. His soul was then returned
 back in time to when he is still 13. Although he is the weakest in his class
 with the lowest talent of only a red soul realm, with the aid of the vast
 knowledge he had accumulated from his previous life, he shall train faster
 than anyone.</p>
 <br />&nbsp;<br />
 <p>This time he will try to protect Glory City which, in the coming future,
 would be assaulted by beasts and ends up being destroyed, as well as
 protecting his lover, friends and family who died by that beast assault. And
 to destroy the Sacred family whom abandoned their duty and betrayed Glory City
 in his past life.</p>
 <br />&nbsp;<br />
 <p>Translated by Thyaeria <a href="contact@thyaeriatranslations.com">
 contact@thyaeriatranslations.com</a></p>
 <br />&nbsp;<br />
 <p>Prequel: <a href="http://www.novelupdates.com/series/cult-of-the-sacred-runes/">
 Cult of the Sacred Runes http://www.novelupdates.com/series/cult-of-the-sacred-runes/</a>
 Read it on: <a href="http://gravitytales.com/cult-of-the-sacred-runes/">
 Gravity Tales http://gravitytales.com/cult-of-the-sacred-runes/</a></p>
#css=
#intro=

[test]
volume=0
#~ start=130

[TITLES]

[g1]
title: Chapters
volume = 1
start = 1
end = 253
#end = 260

[after]
volume = 0
title: Appendix
#chapters:
#chapter-files:

